@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

:root {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: var(--dark-brown);

  /* Primary colors */

  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);

  /* Neutral colors */

  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  color: var(--cream);
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--cream);
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--medium-brown);
}

h7 {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--cream);
}

html,
body,
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

#root {
  background-color: var(--cream);
}
